<mat-card>
  <mat-card-title>Search</mat-card-title>
  <mat-card-content>
    <div fxLayout="column">
      <mat-form-field>
        <textarea [(ngModel)]="query" matInput rows="10" placeholder="Enter an Indri query..."></textarea>
      </mat-form-field>
    </div>

    <button [disabled]="!query.length" (click)="search()" mat-raised-button
            color="primary">SEARCH
    </button>
  </mat-card-content>
</mat-card>

<mat-card class="results" *ngIf="searchInProgress">
  <div *ngIf="error">
    <mat-card-subtitle>
      Error: Could not get results:
    </mat-card-subtitle>
    <mat-card-content fxLayout="row" fxLayoutAlign="center center">
      <pre>{{error}}</pre>
    </mat-card-content>
  </div>

  <div *ngIf="!results && !error">
    <mat-card-content fxLayout="row" fxLayoutAlign="center center">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </mat-card-content>
  </div>

  <div *ngIf="results">
    <mat-card-subtitle>
      Found {{results.size}} documents. Here are the first {{results.documents.length}} results.
    </mat-card-subtitle>
    <mat-card-content>
      <mat-table #table [dataSource]="results.documents">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="index">
          <mat-header-cell *matHeaderCellDef fxFlex="10%">No.</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="10%">{{element.index}}</mat-cell>
        </ng-container>

        <!-- Document Column -->
        <ng-container matColumnDef="document_id">
          <mat-header-cell *matHeaderCellDef fxFlex>Document</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex>{{element.document_id}}</mat-cell>
        </ng-container>

        <!-- Score Column -->
        <ng-container matColumnDef="score">
          <mat-header-cell *matHeaderCellDef fxFlex="10%">Score</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="10%">{{element.score}}</mat-cell>
        </ng-container>

        <!-- Score Column -->
        <ng-container matColumnDef="view">
          <mat-header-cell *matHeaderCellDef fxFlex="10%"></mat-header-cell>
          <mat-cell *matCellDef="let element;" fxLayout="row" fxLayoutAlign="end center" fxFlex="10%">
            <mat-icon>receipt</mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns; let index = index"
                 (click)="insertComponent(index)"
                 #tableRow
                 matRipple></mat-row>
      </mat-table>

      <mat-paginator [length]="results.size" [pageSize]="10" showFirstLastButtons="true" (page)="paginate($event)">
      </mat-paginator>

    </mat-card-content>
  </div>
</mat-card>



