.results
  margin-top 20px
  margin-bottom 20px

pre
  white-space -moz-pre-wrap
  white-space -pre-wrap
  white-space -o-pre-wrap
  white-space pre-wrap
  word-wrap break-word

mat-row
  cursor pointer
