.results
  margin-top 20px
  margin-bottom 20px

.statistics
  strong
    text-align right

pre
  white-space -moz-pre-wrap
  white-space -pre-wrap
  white-space -o-pre-wrap
  white-space pre-wrap
  word-wrap break-word

mat-row
  cursor pointer

.charts
  min-height 350px

mat-divider
  margin-top 5px
  margin-bottom 5px
