<mat-card>
  <mat-card-title>Evaluate</mat-card-title>
  <mat-card-content>
    <div fxLayout="column">
      <mat-form-field>
        <textarea [(ngModel)]="query" matInput rows="10" placeholder="Enter an Indri query..."></textarea>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between end">
      <mat-form-field fxFlex="20">
        <input matTooltip="The query id should be just a number." [(ngModel)]="queryId" matInput placeholder="Query Id">
        <mat-hint align="start"><strong>This is the query we try to optimize for.</strong></mat-hint>
      </mat-form-field>

      <button [disabled]="!query.length || !queryId.length" (click)="search()" mat-icon-button  mat-raised-button color="primary">
        <mat-icon aria-label="Search">search</mat-icon>
      </button>
    </div>

  </mat-card-content>

  <mat-card-footer>
    <mat-progress-bar
      *ngIf="searchInProgress"
      color="primary"
      mode="query">
    </mat-progress-bar>
  </mat-card-footer>


</mat-card>

<div class="results" *ngIf="results || error">

  <mat-card *ngIf="error">
    <mat-card-subtitle>
      Error: Could not get results.
    </mat-card-subtitle>
    <mat-card-content fxLayout="row" fxLayoutAlign="center center">
      <pre>{{error}}</pre>
    </mat-card-content>
  </mat-card>

  <mat-accordion *ngIf="results" multi="true">
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Scores
        </mat-panel-title>
        <mat-panel-description>
          Statistics about this query.
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="mini-stats" fxFlex="100" fxLayout="row wrap" fxLayoutGap="25px" fxLayoutAlign="space-evenly stretch">
        <app-mini-stat matTooltip="Mean average precision [map]" label="Mean Precision" [value]="results.eval.map"></app-mini-stat>
        <app-mini-stat matTooltip="Precision of the first R documents, where R are the number of relevants [Rprec]" label="R-Precision" [value]="results.eval.Rprec"></app-mini-stat>
        <app-mini-stat matTooltip="Binary preference [bpref]" label="Binary preference" [value]="results.eval.bpref"></app-mini-stat>
        <app-mini-stat matTooltip="Total number of retrieved documents [num_ret]" label="Retrieved Documents" [value]="results.eval.num_ret"></app-mini-stat>
        <app-mini-stat matTooltip="Total number of relevant documents (according to the qrels file) [num_rel]"  label="Relevant Documents" [value]="results.eval.num_rel"></app-mini-stat>
        <app-mini-stat matTooltip="Total number of relevant documents retrieved (in the results file) [num_rel_ret]" label="Relevant Retrieved" [value]="results.eval.num_rel_ret"></app-mini-stat>
        <app-mini-stat matTooltip="Number of relevant documents that are not present in our corpus" label="Invalid Gold Documents" [value]="results.missing_relevant_documents.length"></app-mini-stat>
      </div>

      <mat-divider></mat-divider>

      <div fxLayout="row" fxLayoutGap="10px" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
        <div class="charts" fxFlex="50%">
          <ngx-charts-line-chart
            xAxisLabel="Recall"
            yAxisLabel="Precision"
            xAxis="true"
            yAxis="true"
            showXAxisLabel="true"
            showYAxisLabel="true"
            autoScale="true"
            [results]="recallData">
          </ngx-charts-line-chart>
        </div>

        <div class="charts" fxFlex="50%">
          <ngx-charts-line-chart
            xAxisLabel="First n documents"
            yAxisLabel="Precision"
            xAxis="true"
            yAxis="true"
            showXAxisLabel="true"
            showYAxisLabel="true"
            autoScale="true"
            [results]="precisionData">
          </ngx-charts-line-chart>
        </div>
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Wrongly Retrieved Documents
        </mat-panel-title>
        <mat-panel-description>
          The first documents that were retrieved, but are not wanted.
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-data-table [dataSource]="results.retrieved_documents"></app-data-table>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Relevant Retrieved Documents
        </mat-panel-title>
        <mat-panel-description>
          All documents that we correctly retrieve.
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-data-table [dataSource]="results.relevant_retrieved"></app-data-table>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Relevant Documents
        </mat-panel-title>
        <mat-panel-description>
          All relevant documents from the qrels file.
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-data-table [dataSource]="results.relevant_documents"></app-data-table>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Raw Output
        </mat-panel-title>
        <mat-panel-description>
          The captured output from trec_eval.
        </mat-panel-description>
      </mat-expansion-panel-header>

      <pre>{{results.raw_eval_output}}</pre>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Missing Relevant Documents
        </mat-panel-title>
        <mat-panel-description>
          The document ids of relevant documents that can not be found in our corpus :(
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ul>
        <li *ngFor="let doc_id of results.missing_relevant_documents">{{doc_id}}}</li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>



