<mat-card>
  <mat-card-title>Evaluate</mat-card-title>
  <mat-card-content>
    <div fxLayout="column">
      <mat-form-field>
        <textarea [(ngModel)]="query" matInput matTextareaAutosize placeholder="Enter an Indri query..."></textarea>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between end">
      <div fxLayout="row" fxFlex="20%">
        <mat-form-field class="query-id-input">
          <input matTooltip="The query id should be just a number." [(ngModel)]="queryId" matInput placeholder="Query Id">
          <mat-hint align="start"><strong>This is the query we try to optimize for.</strong></mat-hint>
        </mat-form-field>

        <mat-form-field>
          <input matTooltip="Enter the full document id." [(ngModel)]="inspectDocument" (input)="updateInspectedDocument(inspectDocument)" matInput placeholder="Inspect Document Id">
          <mat-hint align="start"><strong>The id of a document you try to optimize..</strong></mat-hint>
        </mat-form-field>

        <div fxLayoutAlign="center center">
          <mat-checkbox [(ngModel)]="highlighting" (change)="changeHighlighting()">Highlight Results</mat-checkbox>
        </div>

      </div>

      <button [disabled]="!query.length || !queryId.length" (click)="search()" mat-icon-button  mat-raised-button color="primary">
        <mat-icon aria-label="Search">search</mat-icon>
      </button>
    </div>
  </mat-card-content>

  <mat-card-footer>
    <mat-progress-bar
      *ngIf="searchInProgress"
      color="primary"
      mode="query">
    </mat-progress-bar>
  </mat-card-footer>
</mat-card>

<div class="results" *ngIf="results.raw_eval_output || error">

  <mat-card *ngIf="error">
    <mat-card-subtitle>
      Error: Could not get results.
    </mat-card-subtitle>
    <mat-card-content fxLayout="row" fxLayoutAlign="center center">
      <pre>{{error}}</pre>
    </mat-card-content>
  </mat-card>

  <mat-accordion *ngIf="results" multi="true">
    <mat-expansion-panel expanded="true" *ngIf="inspectDocument">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Inspected Document: {{inspectDocument}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngIf="!inspectDocumentData.text.length">
        No document found.
      </div>
      <div *ngIf="inspectDocumentData.text.length">
        Categories: <strong *ngFor="let category of inspectDocumentData.categories">{{category}}  </strong>
        <app-document-viewer [document]="inspectDocumentData.text"></app-document-viewer>
      </div>
    </mat-expansion-panel>


    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Scores
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="mini-stats" fxFlex="100" fxLayout="row wrap" fxLayoutGap="25px" fxLayoutAlign="space-evenly center">
        <app-mini-stat matTooltip="Mean average precision [map]" label="Mean Precision" [oldValue]="oldResults.eval.map" [value]="results.eval.map"></app-mini-stat>
        <app-mini-stat matTooltip="Precision of the first R documents, where R are the number of relevants [Rprec]" label="R-Precision" [oldValue]="oldResults.eval.Rprec" [value]="results.eval.Rprec"></app-mini-stat>
        <app-mini-stat matTooltip="Binary preference [bpref]" label="Binary preference" [oldValue]="oldResults.eval.bpref" [value]="results.eval.bpref"></app-mini-stat>
        <app-mini-stat matTooltip="Total number of retrieved documents [num_ret]" label="Retrieved Documents" [oldValue]="oldResults.eval.num_ret" [value]="results.eval.num_ret"></app-mini-stat>
        <app-mini-stat matTooltip="Total number of relevant documents retrieved (in the results file) [num_rel_ret]" label="Relevant Retrieved" [oldValue]="oldResults.eval.num_rel_ret" [value]="results.eval.num_rel_ret"></app-mini-stat>
        <app-mini-stat matTooltip="Number of relevant documents that are not present in our corpus" label="Invalid Gold Documents" [value]="results.missing_relevant_documents.length"></app-mini-stat>
        <app-mini-stat matTooltip="Total number of relevant documents (according to the qrels file) [num_rel]" label="Relevant Documents" [value]="results.eval.num_rel"></app-mini-stat>
      </div>

      <mat-divider></mat-divider>

      <div fxLayout="row" fxLayoutGap="10px" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
        <div class="charts" fxFlex="50%">
          <ngx-charts-line-chart
            xAxisLabel="Recall"
            yAxisLabel="Precision"
            xAxis="true"
            yAxis="true"
            showXAxisLabel="true"
            showYAxisLabel="true"
            autoScale="true"
            [results]="recallData">
          </ngx-charts-line-chart>
        </div>

        <div class="charts" fxFlex="50%">
          <ngx-charts-line-chart
            xAxisLabel="First n documents"
            yAxisLabel="Precision"
            xAxis="true"
            yAxis="true"
            showXAxisLabel="true"
            showYAxisLabel="true"
            autoScale="true"
            [results]="precisionData">
          </ngx-charts-line-chart>
        </div>
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          False Positives
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-data-table [dataSource]="results.irrelevant_retrieved" (inspect)="updateInspectedDocument($event)"></app-data-table>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          True Positives
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-data-table [dataSource]="results.relevant_retrieved" (inspect)="updateInspectedDocument($event)"></app-data-table>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          All Gold Documents
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-data-table [dataSource]="results.relevant_documents" (inspect)="updateInspectedDocument($event)"></app-data-table>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Raw Eval Output
        </mat-panel-title>
      </mat-expansion-panel-header>

      <pre>{{results.raw_eval_output}}</pre>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Relevant Documents not present in Corpus
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ul>
        <li *ngFor="let doc_id of results.missing_relevant_documents">{{doc_id}}}</li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>



