.results
  margin-top 20px
  margin-bottom 20px

pre
  white-space -moz-pre-wrap
  white-space -pre-wrap
  white-space -o-pre-wrap
  white-space pre-wrap
  word-wrap break-word

mat-row
  cursor pointer

.charts
  min-height 350px

mat-divider
  margin-bottom 15px

app-mini-stat
  margin-bottom 15px

.query-id-input
  margin-right 15px
